

//  ////  --|    Breakpoints

$breakpoints: ( 
    s:      450px,
    m:      768px,
    l:      1024px,
    xl:     1600px,
    max:    1920px
);


//  ////  --|    Container

$container-width:   124;
$site-padding:      1rem;


//  ////  --|    Typography

$base-font-size:        1;
$base-line-height:      1.75; // This should always be unitless

$base-font-family:      europa, sans-serif;
$heading-font-family:   adonis-web, serif;

$serif-font: 'Source Serif Pro', serif;
$sans-serif-font: 'Source Sans Pro', sans-serif;

$baseline:              $base-font-size * $base-line-height;

$max-line-width:        $base-font-size * 38;

%sans-serif-font {
    font-family: var( --sans-serif-font );
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}


// Colors
$primary: #F41C51;
$secondary: #DE0DF4;

$blue: #45BDDA;

$white: #FFFBFB;
$black: #130207;
$grey: #D8CCCC;

$true-white: #FFFFFF;
$true-black: #000000;