

* { box-sizing: border-box }


img, video { 
    max-width: 100%; 
    height: auto; 
    display: block; 
}


*::selection {
    color: $white;
    background-color: $primary;
    text-shadow: none;
}


body {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;

    background-color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Prevent scroll when header is open
    &.no-scroll {
        overflow-y: hidden;
    }
}
